{% extends 'base_app.html' %}

{% block title %}
    hit detail {{ block.super }}
{% endblock %}


{% block content_app %}
    <div class="container">
        <div style="text-align: center">
            <h1>Hit Detail</h1>
        </div>
        <hr>
        <form method="post">
            {% csrf_token %}
            {% include 'includes/messages.html' %}
            <div class="form-group row">
                <label for="{{ form.title.id_for_label }}"
                       class="col-sm-2 col-form-label">{{ form.title.label }}</label>
                <div class="col-sm-10">
                    {{ form.title }}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.assignee.id_for_label }}"
                       class="col-sm-2 col-form-label">{{ form.assignee.label }}</label>
                <div class="col-sm-10">
                    <select name="{{ form.assignee.name }}" id="{{ form.assignee.id_for_label }}" class="form-control"
                            {% if form.assignee.field.disabled %} disabled {% endif %}>
                        <option value="">---------</option>
                        {% for value in form.fields.assignee.choices %}
                            <option value="{{ value.id }}"{% if form.initial.assignee == value.id %}
                                    selected {% endif %}
                                    {% if not value.is_active %}disabled{% endif %}>{{ value.username }}</option>
                        {% endfor %}
                    </select>
                    {% if form.assignee.field.disabled %}
                        <select name="assignee" id="{{ form.assignee.id_for_label }}" hidden>
                            <option value="">---------</option>
                            {% for value in form.fields.assignee.choices %}
                                <option value="{{ value.id }}"{% if form.initial.assignee == value.id %}
                                        selected{% endif %}>{{ value.username }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.description.id_for_label }}"
                       class="col-sm-2 col-form-label">{{ form.description.label }}</label>
                <div class="col-sm-10">
                    {{ form.description }}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.status.id_for_label }}"
                       class="col-sm-2 col-form-label">{{ form.status.label }}</label>
                <div class="col-sm-10">
                    <select name="{{ form.status.name }}" id="{{ form.status.id_for_label }}" class="form-control"
                            {% if form.status.field.disabled %}disabled{% endif %}>
                    {% for value,text in form.fields.status.choices %}
                            <option value="{{ value }}"{% if form.initial.status == value %}
                                    selected {% if value == 1 %}
                                    disabled{% endif %}{% endif %}
                                    {% if form.initial.status and not value %}disabled{% endif %}>
                                {{ text }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if form.status.field.disabled %}
                        <select name="{{ form.status.name }}" id="{{ form.status.id_for_label }}" hidden>
                            {% for value,text in form.fields.status.choices %}
                                <option value="{{ value }}"{% if form.initial.status == value %}
                                        selected{% endif %}>{{ text }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label for="{{ form.assigned_by.id_for_label }}"
                       class="col-sm-2 col-form-label">{{ form.assigned_by.label }}</label>
                <div class="col-sm-10">
                    {{ form.assigned_by }}
                    {% if form.assigned_by.field.disabled %}
                        <select name="{{ form.assigned_by.name }}" id="{{ form.assigned_by.id_for_label }}" hidden>
                            {% for value,text in form.fields.assigned_by.choices %}
                                <option value="{{ value }}"{% if form.initial.assigned_by == value %}
                                        selected{% endif %}>{{ text }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
            {% if not only_view %}
                <div class="form-group row" style="text-align: right">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}