{% extends 'base_app.html' %}
{% block title %}
    hits {{ block.super }}
{% endblock %}

{% block content_app %}
    <div class="container">
        <div style="text-align: center">
            <h1>Hits</h1>
        </div>
        <div class="row">
            {% for hit in hits %}
                <div class="col-xl-4 col-md-6">
                    <div class="card bg-{% if hit.status == 1 %}primary{% elif hit.status == 2 %}danger {% elif hit.status == 3 %}sucsess {% else %}secondary{% endif %} text-white mb-4">
                        <div class="card-header">{{ hit.title }}</div>
                        <div class="card-body">
                            Hitman:
                            {{ hit.assignee|default:'Not assignee' }} <br>
                            Status:
                            {{ hit.status|default:'Unassigned' }} <br>
                            Description:
                            {{ hit.description|truncatechars:"55" }}
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="{{ hit.get_absolute_url }}">View more</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}